.img1 {
    width: 100%;
    height: 350px;
}

.btn-blue {
    background-color: #006EFE;
    color: #ffffff;
}

.btn-green {
    background-color: #00FE33;
    color: #ffffff;
}

.btn-red {
    background-color: #FE0000;
    color: #ffffff;
}

.navbar-default {
    background-color: #898887;
    border-color: #e1e1e1;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #404040;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #404040;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #898887;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #404040;
    background-color: #e1e1e1;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #e1e1e1;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #404040;
    background-color: #e1e1e1;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #404040;
    background-color: #e1e1e1;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #404040;
    background-color: #e1e1e1;
}

.navbar-default .navbar-toggle {
    border-color: #e1e1e1;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #e1e1e1;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #404040;
}

.img-brand {
	display: block;
	max-width: 40px;
	height: auto;
	vertical-align: middle;
	margin: auto;
	line-height: 20px;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #404040;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #404040;
        background-color: #e1e1e1;
    }
}
